<%- include ("partials/header.ejs")%>

<body>
    <h1 style="text-align: center;">Flavour Fellow!!!</h1>
    <div class="card-container">
        <% for(let i = 0; i < recetas.length; i++){ %>
        <div class="card" style="width: 18rem;">
            <img src="imagenes/tiramisu.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><b><%= recetas[i].titulo %></b></h5>
                <p class="card-text"><%= recetas[i].categorias %></p>
                <a href="/receta/<%= recetas[i].id %>" class="boton">Ir</a>
            </div>
        </div>
        <% } %>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

<%- include('partials/footer.ejs') %>
